/*======================*/
/*---| Page Layout |--- */
/*======================*/

#cardContainer
{
	height: 100%;
	display: block;
	text-align: center;
}

/*================*/
/*---| Cards |--- */
/*================*/

.card
{
	display: inline-block;
	border-radius: 20px;
	width: 300px;
	height: 180px;
	margin: 15px;
	text-align: center;
	vertical-align: top;
}

#marriottCard
{
	background-color: #0075d5;
}

#deltaCard
{
	background-color: #991933;
}

#frontierCard
{
	background-color: #006643;
}

#ihgCard
{
	background-color: #d9682e;
}

#spiritCard
{
	 background-color: #222222;
}

#hyattCard
{
	background-color: #0072ce;
}

#jetblueCard
{
	background-color: #00205b;
}

#americanCard
{
	background-color: #0078d2;
}

/*===============*/
/*---| Logos |---*/
/*===============*/

.logoContainer
{
	width: 0px;
	height: 60px;
	width: 100px;
	margin: 25px 0% 0% 30px;
	text-align: left;
}

.logoImage
{
	height: 100%;
}

.wideLogoImage
{
	padding-top: 5px;
	width: 80%;
}

.extraWideLogoImage
{
	padding-top: 10px;
	width: 100%;
}
