#cardContainer
{
	display: block;
	text-align: center;
}

#marriottCard
{
	background-color: #0075d5;
}

#deltaCard
{
	background-color: #991933;
}

#frontierCard
{
	background-color: #006643;
}

.logoContainer
{
	width: 0px;
	height: 60px;
	margin: 25px 0% 0% 30px;
}

.logoImage
{
	height: 100%;
}

.card
{
	display: inline-block;
	border-radius: 20px;
	width: 300px;
	height: 180px;
	margin: 15px;
	text-align: center;
}
